<h1>Add bookmark to movie list</h1>

<%= simple_form_for [ @bookmark, @movie, @list ] do |f| %>
  
  <div class="form-inputs">
    <%= f.input :movie_list %>
  </div>

  <div class="form-inputs">
    <%= f.input :movie_list %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


